<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>
    <bean name="aspectlogging" class="com.maany.spring.aop.aspect.Logging"/>
    <bean id="triangle" class="com.maany.spring.aop.service.Triangle">
        <property name="name" value="triangle name"/>
    </bean>
    <bean id="circle" class="com.maany.spring.aop.service.Circle">
        <property name="name" value="circlename"/>
    </bean>
    <bean id="shape-service" class = "com.maany.spring.aop.service.Shape" autowire="byName"/>
    <aop:config>
        <aop:aspect id="loggingAspect" ref="aspectlogging"> <!-- @Aspect equivalent-->
            <aop:pointcut id="allGetters" expression="execution(* get*())"/>
            <!--<aop:around method="aroundSetters" pointcut-ref="allGetters"/>-->
        </aop:aspect>

    </aop:config>



</beans>